.menu-toggle {
    background-color: $color4;
    border: 0;

    &__svg {
        fill: $color2;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover &__svg {
        fill: $color5;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: $color4;
    z-index: 999;
    padding-left: 40px;
    overflow: auto;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    .menu-toggle {
        position: absolute;
        top: 10px;
        right: 15px;
        color: $color2;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;

    &__link {
        color: $color2;
        text-decoration: none;
        font-family: $font2;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        transition: color 2s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: $color5;
        }
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    margin-top: 306px;

    &__link {
        font-family: $font2;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;

        &--phone {
            font-size: 34px;
            line-height: 40px;
            color: $color5;
        }

        &--email {
            font-size: 24px;
            line-height: 28px;
            color: $color3;
        }
    }
}

.social-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 64px;
    align-items: center;
}

.social-link {
    font-family: $font2;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $color5;
    text-decoration: none;
}

.delimiter {
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .menu-toggle {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .menu-toggle {
        display: none;
    }
}
