$color1: #f5f4fa;
$color2: #212121;
$color3: #757575;
$color4: #ffffff;
$color5: #2196f3;
$color6: #188ce8;
$color7: #afb1b8;
$color8: #eeeeee;
$color9: #ececec;
$color10: #000000;
$color11: #2f303a;
$font1: "Raleway";
$font2: "Roboto";
